@font-face {
  font-family: 'Newsread-ExtraLight';
  src: url('~/assets/fonts/Newsreader-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Newsread-Medium';
  src: url('~/assets/fonts/Newsreader-Medium.ttf') format('truetype');
}

* {
  font-family: Newsread-ExtraLight, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 200;
}

.navbar-start {
  border-bottom: 1px, solid, black;
}

.navbar-item, .navbar-link {
  font-family: Newsread-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 20px;
}

.is-200x200 img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.is-cover {
  object-fit: cover;
}

.post-card {
  box-shadow: none;
  border: 1px solid #ededed;
  border-radius: 0;
}
.post-title {
  display: block;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 1px;
}

.post-body::first-letter {
  font-size: 30px;
  text-transform: uppercase;
}

.card-content:last-child, .card-footer:last-child, .card-header:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-footer{
  border-left: 1px solid black;
  border-radius: 1px solid black;
}

.main-post-body::first-letter {
  font-size: 50px;
  text-transform: uppercase;
}

.has-border {
  border-left: 1px solid;
  border-right: 1px solid;
}

.has-background-light-grey {
  background-color: #ededed;
}

/*
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
*/
