@font-face {
  font-family: 'Newsread-ExtraLight';
  src: url('~/assets/fonts/Newsreader-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Newsread-Medium';
  src: url('~/assets/fonts/Newsreader-Medium.ttf') format('truetype');
}

*{
  font-family: Newsread-ExtraLight, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 200;
}
.navbar-start {
  border-bottom: 1px, solid, black;
}
.navbar-item, .navbar-link {
  font-family: Newsread-Medium,  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.is-cover {
  object-fit: cover;
}

/*
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
*/
